/* Quitar fondo de input */
input, textarea{
    background: inherit;
    background-color:transparent;
}
/* Selects any disabled <input> */
input:disabled,textarea:disabled {
  background-color: #e1e1e1;
}
/* Quitar flechas de input numericos */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#signatureparent {
    color:darkblue;
    background-color:darkgrey;
    /*max-width:600px;*/
    padding:20px;
}

.BigRadio{
    transform: scale(1.5);
    margin: 6px !important;
}

.CeldaVertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

/* sl ider gauge code */
.ui-slider .ui-slider-handle {
    height: 60px;
    width: 10px;
}

.ui-slider .change-red {
    background-color: red;
}

.decoracionBtn{
    /* position: absolute;  */
    float:left;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 6px 9px 6px 9px;
}

.decoracionBtnColor{
    outline: none;
    /* background: white; */
    float:left;
    cursor: inherit;
    display: block;
    margin-right: 3px;
    margin-left: 3px;
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
    padding: 6px 9px 6px 9px;
}

#sketchpad{
    cursor:crosshair;
}

#firmaImg,.marcoImg{
    max-width:4cm;
    border:1px solid black;
}

.error{
    color: red;
}

.signatureparent,#signatureparent {
  color:darkblue;
  background-color:darkgrey;
  /*max-width:600px;*/
  padding:20px;
}

.input_field{
    color:darkblue;
    text-align: center;
}

.contenedorImgFondo{
    position: relative;
    display: inline-block;
    text-align: center;
}

/* .centradoBarra{
    position: absolute;
    width: 94%;
    margin-top: -38px;
    margin-left: -3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.imgFondo{
    width: 300px;
    height: 60px;
    margin-top: -15px;
}

.imgFondo2{
    width: 390px;
    height: 60px;
    margin-top: -15px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cargaIcono {
		-webkit-animation: rotation 1s infinite linear;
    font-size: 55px;
    color: #114e6f;
    display: none;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*
Full screen Modal
*/
#modalRefacciones {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  #modalRefacciones {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #modalRefacciones {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #modalRefacciones {
     width: 1170px;
  }
}


.divAprobado{
    width: 35px;
    height: 35px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
    background-color: #1f661f;
    position: relative;
}

.divFuturo{
    width: 35px;
    height: 35px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
    background-color: #e6b019;
    position: relative;
}

.divInmediato{
    width: 35px;
    height: 35px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;;
    background-color: #e01a14;
    position: relative;
}

.divCheck{
    position: relative;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
}

.divCheckSC{
    position: relative;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    /*border: 0px solid #b7b6b6;*/
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
}

.rev_divAprobado{
    width: 20px;
    height: 20px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
    background-color: #1f661f;
    position: relative;
}

.rev_divFuturo{
    width: 20px;
    height: 20px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
    background-color: #e6b019;
    position: relative;
}

.rev_divInmediato{
    width: 20px;
    height: 20px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;;
    background-color: #e01a14;
    position: relative;
}

.rev_divCheck{
    position: relative;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid #b7b6b6;
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
}

.rev_divCheckSC{
    position: relative;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    /*border: 0px solid #b7b6b6;*/
    border-radius: 5px;
    padding: 6px 3px 5px 10px;
}


.contenedorImgFondo{
    position: relative;
    display: inline-block;
    text-align: center;
}

div .ui-slider-range .ui-widget-header .ui-corner-all .ui-slider-range-min{
    background-color: darkblue !important;
}