* {
  /*  box-sizing: border-box; */
  font-size: 11px;
  font-weight: bold;
}

.h2_title_blue {
    color: midnightblue;
}

.vertical_asesor{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;

    bottom:0;
    font-size:medium;
    /*margin-right: 460px;*/
    width:20px;
    height:20px;
    position: absolute;
    /*padding-top: 300px;*/
    top:520px;
    left: 25px;
}

.vertical_tecnico_1{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;

    bottom:0;
    font-size:medium;

    width:20px;
    height:20px;
    position: absolute;
    top:520px;
    right: 25px;
}

.vertical_tecnico_2{
    writing-mode:tb-rl;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    white-space:nowrap;

    bottom:0;
    font-size:medium;
    padding-right: 765px;
    width:20px;
    height:20px;
    position: absolute;
    padding-top: 400px;
}


.input_field {
    min-width: 0;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    padding: 1px;
}

.input_select {
    min-width: 0;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    padding: 1px;
}

.input_field_lg {

    outline: 0;
    text-decoration-line: underline;
    border-width: 0 0 1px;
    border-color: black;
    padding: 1px;
}

td {
    padding: 7px;
}
.headers_table {
    border:1px solid black;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

.leaf {

-moz-transform: rotate(40deg);
-webkit-transform: rotate(40deg);
-o-transform: rotate(40deg);
-ms-transform: rotate(40deg);
transform: rotate(40deg);
    width: 29px;
    height: 19px;
}
